/*body {*/
    /*background-color: lightskyblue;*/
/*}*/


/* Home Styles ------------------------------------------------------------------ */

.wrapped {
    width: 50%;
    margin: 0 auto;
}

.homelinks {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 1em;
    margin: 0 1em;
}

#home-wrapped {
    padding-top: 4em;
}


/* Gallery Styles ------------------------------------------------------------------ */

.gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap:1em;
    grid-row-gap: 1em;
}

.galtainer {
    margin: 5em;
    position: relative;
}


.wrapgal {
    margin-bottom: 3em;
}



/* Footer Styles ------------------------------------------------------------------ */

footer {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 2em;
}

footer a {
    margin: 0em .5em;
}